<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= I18n.locale %>" lang="<%= I18n.locale %>">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Gigya Widget Integration </title>
    <script type="text/javascript" language="javascript" src="http://cdn.gigya.com/js/socialize.js?apiKey=<%= ApplicationConfig['gigya']['api_key'] %>"></script>
  </head>

  <body>

  <script type="text/javascript">
    var conf=
    {
      APIKey: '<%= ApplicationConfig['gigya']['api_key'] %>'
      ,enabledProviders: '<%= ApplicationConfig['gigya']['providers'] %>'
    };
   </script>
    <div id="main">
      <% if flash[:notice] %>
        <div class='alert'><%= flash[:notice] %></div>
        <% flash[:notice] = nil %>
      <% end %> 

      <%= yield %>

    </div>
  </body>
</html>

